@import url("https://fonts.googleapis.com/css2?family=Black+Han+Sans&display=swap");

@font-face {
  font-family: "WarhavenB";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2312-1@1.1/WarhavenB.woff2")
    format("woff2");
  font-weight: 700;
  font-style: normal;
}
